{% extends './base.html' %} {% block title %} Login {% endblock %} 
{% block customCss %} 
<link rel="stylesheet" href="{{url_for('static', filename="css/login.css")}}">
{% endblock%}
{% block body %}



<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <div class="bg-gray-200 flex rounded-lg shadow-lg p-5 max-w-3xl">
 <div class="md:w-1/2 px-10">
<h2 class="font-bold text-4xl text-gray-700">Login</h2>
<p class="text-md mt-4 text-gray-500"> Por favor inicie sesión </p>

  <form actions="/login" method="POST" class="flex flex-col gap-4">

        <input
        type="correo"
        name="correo"
        class="bg-slate-50 placeholder-gray-400 placeholder-opacity-75 px-4 mt-8 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="name@example.com"
      />
      <div class="relative">
            <input
        type="password"
        name="contrasena"
        class="bg-slate-50 placeholder-gray-400 placeholder-opacity-75 px-4 py-2 border w-full border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Password"
      />
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
</svg>
      </div>
{% if error %}
<div onclick="Close(this)" class="bg-red-50 border border-red-300 text-red-600 px-4 py-3 rounded relative" role="alert">
  <span class="block sm:inline text-sm"> {{error}} </span>
  <span class="absolute top-0 bottom-0 right-0 px-0 py-1">
    <svg class="fill-current h-6 w-6 text-red-500"  role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
{% endif %}

  {% for success in get_flashed_messages() %}
<div onclick="Close(this)" class="bg-green-50 border border-lime-300 text-green-600 px-4 py-3 rounded relative" role="alert">
  <span class="block sm:inline text-sm">  {{success}} </span>
  <span class="absolute top-0 bottom-0 right-0 px-0 py-1">
    <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
{% endfor %}

      <button class="bg-black rounded-xl text-white py-2 hover:scale-105 duration-300">Login</button>
  </form>
<div class="mt-10 grid grid-cols-3 items-center text-gray-400 m-8">
<hr class="border-gray-400">
<p class="text-center text-sm">OR</p>
<hr class="border-gray-400">
</div>

 <button class="bg-white py-2 w-full border mt-5 rounded-xl border-gray-300 flex justify-center items-center">
  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
<path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
</svg>

  Login with Google</button>
<p class="text-gray-700 font-bold pt-4 text-sm border-b border-gray-400 mt-5 py-4">
  <a href="">Recuperar contraseña</a>
  <p>
  <div class="flex text-sm justify-between items-center pt-3">
    <p class="text-gray-500">Sí aun no tienes cuenta</p>
    <a href="/registro"><button class="bg-white border border-gray-300 p-2 rounded-xl hover:scale-105 duration-300 text-[#002D74] ">Registrate</button> </a>
  </div>

 </div>
  <div class="md:block hidden w-1/2 p-5">
   <img
    class="h-160 w-90 object-fill rounded-xl rounded-2xl"
      src="{{url_for('static', filename='img/lego4.png')}}"
    />
 </div>
  </div>
</section>
{% endblock %}

