{%extends './dashboard.html' %} {% block title %} Notas {%endblock%}
{%block body %} 
<div class="p-10 m-10 bg-white">
<div class="flex items-center justify-between">
    <h1 class="text-[#303030] font-bold font-['Roboto'] text-3xl pb-3" >Tus notas </h1>
    <a href="{{url_for('notas.crear_nota')}}"><button class="m-2 bg-green-400 p-1 px-3 text-white rounded-lg">Crear</button></a>


</div>

<div class="overflow-auto rounded-lg shadow hidden md:block">
<table class="w-full border-collapse border border-gray-200">
<thead>
    <tr class="bg-[#303030] text-white">
        <th class="font-bold p-2">Id</th>
        <th class="font-bold p-2">Titulo</th>
        <th class="font-bold p-2">Descripcion</th>
        <th colspan="2" class="font-bold text-center p-2">Detalle</th>
    </tr>
    {% for nota in notas %}
    <tr>
        <td class="p-3 text-sm text-gray-700">{{nota.id}}</td>
        <td class="p-3 text-sm text-gray-700">{{nota.titulo}}</td>
        <td class="p-3 text-sm text-gray-700">{{nota.descripcion}}</td>
        <td class="text-right"><a href={{url_for('notas.actualizar_nota',id=nota.id)}}><button class="m-2 bg-blue-500 p-2 px-3 text-white rounded-lg">Editar</button></a></td>
        <td class="text-left"><a href="{{url_for('notas.borrar_nota',id=nota.id)}}"><button class="m-2 bg-red-700 p-2  px-3  text-white rounded-lg">Eliminar</button></a></td>
    <tr>
        {% endfor %}
</thead>
</table>
</div>

<div class="grig grid-cols-1 gap-4  md:hidden">
    <div class="bg-gray-100 p-4 space-y-3 mb-4 rounded-lg shadow"> 
      <div class="flex items-center space-x-2 text-sm">
       <div class="text-blue-600">1</div>
       <div class="font-semibold">Titulo</div>
      </div>
      <div class="flex">Descripción</div>
      <div class="flex items-center"> 
      <a><button class="bg-blue-600 p-2 rounded-lg text-white">Editar</button></a>
      <a><button class="bg-red-700 ml-2 p-2 rounded-lg text-white">Eliminar</button></a>

      </div>
    </div>
<div>


    <div class="grig grid-cols-1 gap-4 md:hidden">
    <div class="bg-gray-100 p-4 space-y-3 mb-4 rounded-lg shadow"> 
      <div class="flex items-center space-x-2 text-sm">
       <div class="text-blue-600">1</div>
       <div class="font-semibold">Titulo</div>
      </div>
      <div class="flex">Descripción</div>
    </div>
<div>

</div>

{% endblock %}